/**
 * @name Dark Matter
 * @author Tropical#8908, Hammock#3110
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://media.discordapp.net/attachments/814536209262968936/1130014305820090469/kokomi2.jpg?width=1133&height=637');
    --home-image: url('https://media.discordapp.net/attachments/814536209262968936/1088652796963868743/b41e08ec1719fe008208b3b59e7082bc.jpg');
    --background-solid: #161921;
    --background-solid-dark: #101218;
    --background-solid-darker: #0c0e12;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}
